<div class="container">
  <!-- Title Section -->
  <header class="text-center my-5">
    <h1>BookHive - My Profile</h1>
  </header>

  <!-- User Info Section -->
  <section class="user-info text-center my-4">
    <h2 class="my-3">{{username}}</h2>
    <img
      src="/image/profile-image.png"
      alt="User Avatar"
      class="rounded-circle"
      style="width: 150px; height: 150px;"
    />
  </section>

  <!-- Profile Update Section -->
  {{!-- <section class="update-profile-section my-5">
    <h3 class="text-center">Update Username/Email</h3>
    <form id="update-profile-form" class="mx-auto" style="max-width: 500px;">
      <div class="mb-3">
        <label for="name-input" class="form-label">Name</label>
        <input
          type="text"
          id="name-input"
          class="form-control"
          value="{{username}}"
        />
      </div>
      <div class="mb-3">
        <label for="email-input" class="form-label">Email</label>
        <input
          type="email"
          id="email-input"
          class="form-control"
          value="{{email}}"
        />
      </div>
      <button type="submit" class="btn btn-primary w-100">Update Profile</button>
    </form>
  </section> --}}

  <!-- Books Section -->
  <section class="books-section my-5">
    <div class="row">
      <!-- Books I Have Read -->
      <div class="col-md-4">
        <h3>Books I Am Recomended:</h3>
        <div class="list-group">
          {{#each books as |book|}}
            <a href="/book/{{book.id}}" class="list-group-item">
              <div class="row align-center mb-5">
                <div class="col-md-6">
                  <h2>{{title}}</h2>
                </div>
              </div>
            </a>
          {{/each}}
        </div>
      </div>
    </div>
  </section>

  <!-- Account Deletion Section -->
  <section class="delete-account-section text-center my-5">
    <button id="delete-account-btn" class="btn btn-danger">Delete Account</button>
  </section>
</div>

<script src="/js/userpage.js"></script>