<div class="container">
  <!-- Title Section -->
  <header class="text-center my-5">
    <h1>BookHive - My Profile</h1>
  </header>

  <!-- User Info Section -->
  <div class="row align-center mb-5">
    <div class="col-md-6">
      <section class="user-info text-center my-4">
        <img src="/images/profile-image.png"  style="width: 200px; height: 300px;"/>
        <h2 class="my-3">{{username}}</h2>
      </section>
    </div>

  <!-- Profile Update Section -->
    <div class="col-md-6">
      <section class="update-profile-section my-5">
        <h3 class="text-center">Update Username/Email</h3>
        <form id="update-profile-form" class="mx-auto" style="max-width: 500px;">
          <div class="mb-3">
            <label for="name-input" class="form-label">Name</label>
            <input
              type="text"
              id="name-input"
              class="form-control"
              value="{{username}}"
            /><br />
          </div>
          <div class="mb-3">
            <label for="email-input" class="form-label">Email</label>
            <input
              type="email"
              id="email-input"
              class="form-control"
              value="{{email}}"
            /><br />
          </div>
          <button type="submit" class="btn btn-primary">Update</button>
        </form>
      </section>
    </div>
  </div>

  <!-- Books Section -->
  <section class="books-section my-5">
        <h3 style="text-align: left;">Books I Reviewed:</h3>
        <div>
          {{#each books as |book|}}
            <div class="row align-center mb-5" class="list-group-item"  style="border: solid #888;">
              <a href="/book/{{book.id}}" style="text-decoration: none;" class="col-md-4">
                <h2>{{book.title}}</h2>
                <img
                  src="{{cover_image}}"
                  alt="Cover of {{title}}"
                  class="img-fluid mb-3 book-cover"
                />
              </a>
              <ul class="col-md-8">
                <h4>Reviews From You:</h4>
                {{#each reviews}}
                  <div class="list-group-item">
                    <p>{{review_content}}</p>
                  </div>
                {{/each}}
              </ul>
            </div>
          {{/each}}
        </div>
  </section>

  <!-- Account Deletion Section -->
  <section class="delete-account-section text-center my-5">
    <button id="delete-account-btn" class="btn btn-danger">Delete Account</button>
  </section>
</div>

<script src="/js/userpage.js"></script>