<div class="container">
  <!-- User Info Section -->
  <section class="user-info text-center my-4">
    <h2 class="my-3">{{username}}</h2>
    <img
      src="/images/profile-image.png"
      alt="User Avatar"
      class="rounded-circle"
      style="width: 150px; height: 150px;"
    />
  </section>

<!-- Books Section -->
<section class="books-section my-5">
  <h3>MY REVIEWS</h3>
  <div class="list-group">
    {{#each books}}
      <div class="list-group-item">
        <a href="/book/{{id}}"><h2>{{title}}</h2></a>
        <p>Reviews From You:</p>
        <ul>
          {{#each reviews}}
            <li>{{review_content}}</li>
          {{/each}}
        </ul>
      </div>
    {{/each}}
  </div>
</section>



  <!-- Profile Update Section -->
<section class="update-profile-section my-5">
  <h3 class="text-center">UPDATE USERNAME/EMAIL</h3>
  <form id="update-profile-form" class="mx-auto d-flex flex-column align-items-center" style="max-width: 250px;">
    <div class="d-flex justify-content-between w-100">
      <div class="mb-3 name-input-container">
        <label for="name-input" class="form-label">Name</label>
        <input
          type="text"
          id="name-input"
          class="form-control"
          value="{{username}}"
        />
      </div>
      <div class="mb-3 email-input-container">
        <label for="email-input" class="form-label">Email</label>
        <input
          type="email"
          id="email-input"
          class="form-control"
          value="{{email}}"
        />
      </div>
    </div>
    <div class="d-flex justify-content-between w-100">
      <button type="submit" class="btn btn-primary">Update</button>
      <button id="delete-account-btn" class="btn btn-primary">Delete Account</button>
    </div>
  </form>
</section>




<script src="/js/userpage.js"></script>
